.sub-item-link {
  text-decoration: none;
  color: teal;
}

.sub-item-link:visited {
  color: purple;
}

.sub-item-link:hover {
  color: orange;
}

.sub-item-link:focus {
  outline: 2px solid blue;
}

.sub-item-link:active {
  color: red;
}